@import url(vendor/bootstrap/bootstrap.css);
@font-face {
  font-family: 'principal';
  src: url(../fonts/trajan/Trajan-Pro-Regular.woff2); }

body {
  font-family: 'principal';
  color: #fff;
  background-image: url(../img/common/fondo.jpg);
  margin: 0;
  padding: 0; }

p {
  margin: .5rem 0;
  padding: 0;
  font-size: .8rem; }

h1 {
  margin: 0;
  font-size: 1.5rem;
  text-transform: lowercase; }

h2 {
  margin: 0;
  font-size: 1.3rem;
  text-transform: lowercase; }

h3 {
  margin: 0;
  font-size: 1.1rem;
  text-transform: lowercase; }

.btn-clasico {
  background-color: initial;
  border: 0;
  padding: 0; }
  .btn-clasico:focus {
    outline: initial; }

.btn-borde {
  background-color: initial;
  color: #fff;
  border: 1px solid #fff;
  padding: 0; }
  .btn-borde:focus {
    outline: initial; }

.logo_atras {
  position: fixed;
  top: 0;
  left: 0; }
  .logo_atras .btn-atras {
    background-color: initial;
    border: 0;
    padding: 0; }
    .logo_atras .btn-atras:focus {
      outline: initial; }
    .logo_atras .btn-atras img {
      width: 4.5rem; }

.logo_volumen {
  position: fixed;
  bottom: 0;
  left: 0; }
  .logo_volumen .btn-volumen {
    background-color: initial;
    border: 0; }
    .logo_volumen .btn-volumen:focus {
      outline: initial; }
    .logo_volumen .btn-volumen img {
      margin: .5rem 1.5rem;
      width: 1.8rem; }

.ventana-emergente {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 3rem auto;
  width: 90%;
  border: 5px solid #fff;
  background-color: #064E30;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

section.menu_principal_inicio .inicio_logo {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  section.menu_principal_inicio .inicio_logo img {
    width: 80%; }

section.menu_principal_inicio .inicio_menu {
  height: 50vh; }
  section.menu_principal_inicio .inicio_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    section.menu_principal_inicio .inicio_menu ul li {
      margin: 0.5rem 0; }
      section.menu_principal_inicio .inicio_menu ul li .lista_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        section.menu_principal_inicio .inicio_menu ul li .lista_menu img {
          width: 6rem;
          margin: 0 2rem; }
        section.menu_principal_inicio .inicio_menu ul li .lista_menu a {
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          font-size: 1.5rem; }

section.submenu_ayuda .ayuda_titulo {
  width: calc(100% - 4.5rem);
  height: 100px;
  margin-left: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  section.submenu_ayuda .ayuda_titulo .titulo_texto {
    position: absolute; }
  section.submenu_ayuda .ayuda_titulo .titulo_borde {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    section.submenu_ayuda .ayuda_titulo .titulo_borde img {
      width: 95%; }

section.submenu_ayuda .ayuda_texto {
  text-align: justify;
  padding: 0 2rem;
  padding-bottom: 1rem; }
  section.submenu_ayuda .ayuda_texto h2 {
    padding: .5rem 0; }
  section.submenu_ayuda .ayuda_texto .texto-senas p {
    font-size: .7rem;
    padding: 0; }
  section.submenu_ayuda .ayuda_texto .row {
    margin: 1rem 0; }

section.menu_cuenta .perfil_titulo {
  width: calc(100% - 4.5rem);
  height: 100px;
  margin-left: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  section.menu_cuenta .perfil_titulo .titulo_texto {
    position: absolute; }
  section.menu_cuenta .perfil_titulo .titulo_borde {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    section.menu_cuenta .perfil_titulo .titulo_borde img {
      width: 95%; }

section.pagina-jugar .opcion-zancas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem; }
  section.pagina-jugar .opcion-zancas .opcion-nombre {
    text-align: center; }
    section.pagina-jugar .opcion-zancas .opcion-nombre h1 {
      font-size: 1.2rem; }
  section.pagina-jugar .opcion-zancas .opcion-texto {
    text-align: center;
    width: 100%; }
    section.pagina-jugar .opcion-zancas .opcion-texto p {
      font-size: 1.8rem; }
  section.pagina-jugar .opcion-zancas .opcion-sino {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    section.pagina-jugar .opcion-zancas .opcion-sino button {
      height: 2.5rem;
      width: 30%; }

section.pagina-jugar .opcion-usuario-salir {
  padding: 2rem; }
  section.pagina-jugar .opcion-usuario-salir .salir-texto {
    text-align: center;
    width: 100%;
    height: 50%; }
    section.pagina-jugar .opcion-usuario-salir .salir-texto p {
      font-size: 1.8rem; }
  section.pagina-jugar .opcion-usuario-salir .salir-sino {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 50%; }
    section.pagina-jugar .opcion-usuario-salir .salir-sino .button {
      height: 2.5rem;
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

section.pagina-jugar .opcion-rival-trucar {
  padding: 2rem; }
  section.pagina-jugar .opcion-rival-trucar .trucar-nombre {
    text-align: center; }
    section.pagina-jugar .opcion-rival-trucar .trucar-nombre h1 {
      font-size: 1.2rem; }
  section.pagina-jugar .opcion-rival-trucar .trucar-texto {
    text-align: center;
    width: 100%; }
    section.pagina-jugar .opcion-rival-trucar .trucar-texto p {
      font-size: 2.8rem; }
  section.pagina-jugar .opcion-rival-trucar .trucar-sino {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    section.pagina-jugar .opcion-rival-trucar .trucar-sino button {
      height: 2.5rem;
      width: 30%; }

section.pagina-jugar .opcion-envida {
  padding: 1rem; }
  section.pagina-jugar .opcion-envida .envida-nombre {
    text-align: center; }
    section.pagina-jugar .opcion-envida .envida-nombre h1 {
      font-size: 1.2rem; }
  section.pagina-jugar .opcion-envida .envida-texto {
    text-align: center;
    width: 100%; }
    section.pagina-jugar .opcion-envida .envida-texto p {
      font-size: 2.8rem; }
  section.pagina-jugar .opcion-envida .envida-sino {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    section.pagina-jugar .opcion-envida .envida-sino button {
      height: 2.5rem;
      width: 30%; }
    section.pagina-jugar .opcion-envida .envida-sino .dos-botones {
      height: 2.5rem;
      width: 30%;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      section.pagina-jugar .opcion-envida .envida-sino .dos-botones .contador {
        width: 50%;
        height: 100%; }

section.pagina-jugar .efectuar-accion {
  width: 35%;
  height: 5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto; }
  section.pagina-jugar .efectuar-accion p {
    font-size: 1.5rem; }

section.pagina-jugar .jugar_cartas {
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: fixed; }
  section.pagina-jugar .jugar_cartas .cartas-rival, section.pagina-jugar .jugar_cartas .cartas-usuario {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem; }
  section.pagina-jugar .jugar_cartas .cartas-rival {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    section.pagina-jugar .jugar_cartas .cartas-rival .sobreposicion-rival {
      position: relative;
      width: 7rem;
      height: 5rem; }
      section.pagina-jugar .jugar_cartas .cartas-rival .sobreposicion-rival .posicion-izq {
        left: 0; }
      section.pagina-jugar .jugar_cartas .cartas-rival .sobreposicion-rival .posicion-centro {
        left: 0;
        right: 0;
        margin: 0 auto; }
      section.pagina-jugar .jugar_cartas .cartas-rival .sobreposicion-rival .posicion-drcha {
        right: 0; }
  section.pagina-jugar .jugar_cartas .cartas-usuario {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    section.pagina-jugar .jugar_cartas .cartas-usuario .sobreposicion-usuario {
      position: relative;
      width: 7rem;
      height: 5rem; }
      section.pagina-jugar .jugar_cartas .cartas-usuario .sobreposicion-usuario .posicion-izq {
        left: 0; }
      section.pagina-jugar .jugar_cartas .cartas-usuario .sobreposicion-usuario .posicion-centro {
        left: 0;
        right: 0;
        margin: 0 auto; }
      section.pagina-jugar .jugar_cartas .cartas-usuario .sobreposicion-usuario .posicion-drcha {
        right: 0; }
  section.pagina-jugar .jugar_cartas img {
    width: 3rem;
    position: absolute; }

section.pagina-jugar .jugar_estructura {
  display: grid;
  grid-template-columns: repeat(6, calc(100% / 6));
  grid-template-rows: repeat(3, calc(100% / 3));
  width: 100%;
  height: 100vh; }
  section.pagina-jugar .jugar_estructura .cartas-rival {
    grid-column: 2/5; }
    section.pagina-jugar .jugar_estructura .cartas-rival .rival {
      position: relative;
      width: 220px;
      margin: 0 auto; }
      section.pagina-jugar .jugar_estructura .cartas-rival .rival img {
        height: 4rem; }
      section.pagina-jugar .jugar_estructura .cartas-rival .rival .carta-izq {
        position: absolute;
        left: 1rem;
        top: 0;
        z-index: -1; }
      section.pagina-jugar .jugar_estructura .cartas-rival .rival .carta-drcha {
        position: absolute;
        right: 1rem;
        top: 0; }
      section.pagina-jugar .jugar_estructura .cartas-rival .rival .carta-centro {
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
  section.pagina-jugar .jugar_estructura .chinas-rival {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
    section.pagina-jugar .jugar_estructura .chinas-rival p {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  section.pagina-jugar .jugar_estructura .perfil {
    grid-column: 6/7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.pagina-jugar .jugar_estructura .perfil img {
      width: 90%; }
    section.pagina-jugar .jugar_estructura .perfil p {
      margin-bottom: 0; }
  section.pagina-jugar .jugar_estructura .marcador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    section.pagina-jugar .jugar_estructura .marcador table.table {
      margin: 0;
      width: 60%;
      font-size: .6rem;
      text-align: center; }
      section.pagina-jugar .jugar_estructura .marcador table.table thead, section.pagina-jugar .jugar_estructura .marcador table.table tbody {
        border: none; }
        section.pagina-jugar .jugar_estructura .marcador table.table thead td, section.pagina-jugar .jugar_estructura .marcador table.table thead th, section.pagina-jugar .jugar_estructura .marcador table.table tbody td, section.pagina-jugar .jugar_estructura .marcador table.table tbody th {
          width: 50%;
          border: 1px solid #fff;
          padding: 0;
          margin: 0; }
        section.pagina-jugar .jugar_estructura .marcador table.table thead td, section.pagina-jugar .jugar_estructura .marcador table.table tbody td {
          height: 1.7rem; }
          section.pagina-jugar .jugar_estructura .marcador table.table thead td img, section.pagina-jugar .jugar_estructura .marcador table.table tbody td img {
            padding-top: .4rem;
            height: 1.3rem; }
  section.pagina-jugar .jugar_estructura .mazo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.pagina-jugar .jugar_estructura .mazo .btn-mazo {
      height: 100%; }
      section.pagina-jugar .jugar_estructura .mazo .btn-mazo img {
        height: 100%; }
    section.pagina-jugar .jugar_estructura .mazo p {
      margin: 0;
      margin-top: .3rem; }
  section.pagina-jugar .jugar_estructura .chinas {
    grid-column: 3/5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.pagina-jugar .jugar_estructura .chinas img {
      width: 4rem; }
  section.pagina-jugar .jugar_estructura .chinas-usuario .chinas_cuenta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 60%; }
    section.pagina-jugar .jugar_estructura .chinas-usuario .chinas_cuenta .imagen_bocadillo {
      position: relative; }
      section.pagina-jugar .jugar_estructura .chinas-usuario .chinas_cuenta .imagen_bocadillo p {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        margin-bottom: .5rem;
        font-size: 1.4rem;
        position: absolute;
        color: #83152D; }
  section.pagina-jugar .jugar_estructura .chinas-usuario .chinas_icono {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40%; }
    section.pagina-jugar .jugar_estructura .chinas-usuario .chinas_icono img {
      width: 2.2rem; }
  section.pagina-jugar .jugar_estructura .cartas-usuario {
    grid-column: 3/6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    section.pagina-jugar .jugar_estructura .cartas-usuario .usuario {
      padding-top: 1rem;
      position: relative;
      width: 270px;
      height: 7.5rem;
      margin: 0 auto;
      overflow: hidden; }
      section.pagina-jugar .jugar_estructura .cartas-usuario .usuario img {
        position: absolute;
        width: 6rem; }
      section.pagina-jugar .jugar_estructura .cartas-usuario .usuario .carta-izq {
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
        left: 2rem; }
      section.pagina-jugar .jugar_estructura .cartas-usuario .usuario .carta-centro {
        left: 0;
        right: 0;
        margin: 0 auto; }
      section.pagina-jugar .jugar_estructura .cartas-usuario .usuario .carta-drcha {
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
        right: 2rem; }
  section.pagina-jugar .jugar_estructura .envido-truco-usuario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    section.pagina-jugar .jugar_estructura .envido-truco-usuario button {
      width: 100%;
      height: 40%; }
