section.pagina-jugar
    .jugar_estructura
        display: grid
        grid-template-columns: repeat(6, calc(100% / 6))
        grid-template-rows: repeat(3, calc(100% / 3))
        width: 100%
        height: 100vh
        .cartas-rival
            grid-column: 3/5
            position: relative
            img
                height: 4rem
            .carta-izq
                position: absolute
                left: 1rem
                top: 0
                z-index: -1
            .carta-drcha
                position: absolute
                right: 1rem
                top: 0
            .carta-centro
                top: 0
                right: 0
                left: 0
                margin: 0 auto
                display: flex
        .chinas-rival
            transform: rotate(180deg)
            p
                transform: rotate(180deg)
        .perfil
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            img
                width: 90%
            p
                margin-bottom: 0
        .marcador
            display: flex
            align-items: center
            justify-content: center
            table.table
                margin: 0
                width: 60%
                font-size: .6rem
                text-align: center
                thead, tbody
                    border: none
                    td, th
                        width: 50%
                        border: 1px solid $color-blanco
                        padding: 0
                        margin: 0
                    td
                        height: 1.7rem
                        img
                            padding-top: .4rem
                            height: 1.3rem
        .mazo-rival
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .btn-mazo
                height: 100%
                img
                    height: 100%
            p
                margin: 0
                margin-top: .3rem
                
        .chinas
            grid-column: 3/5
            display: flex
            justify-content: center
            align-items: center
            img
                width: 4rem
        .chinas-usuario
            .chinas_cuenta
                display: flex
                align-items: flex-end
                justify-content: flex-end
                height: 60%
                .imagen_bocadillo
                    position: relative
                    p
                        top: 0
                        bottom: 0
                        left: 0
                        right: 0
                        display: flex
                        align-items: center
                        justify-content: center
                        margin: 0
                        margin-bottom: .5rem
                        font-size: 1.4rem
                        position: absolute
                        color: $color-rojo
            .chinas_icono
                display: flex
                align-items: center
                justify-content: center
                height: 40%
                img
                    width: 2.2rem
        .cartas-usuario
            grid-column: 3/5
