section.pagina-jugar
    // Ventana para saber a cuantos puntos se juega la partida
    .opcion-zancas
        display: flex
        padding: 2rem
        .opcion-nombre
            text-align: center
            h1
                font-size: 1.2rem
        .opcion-texto
            text-align: center
            width: 100%
            p
                font-size: 1.8rem
        .opcion-sino
            display: flex
            justify-content: center
            align-items: flex-end
            button
                height: 2.5rem
                width: 30%
    // Ventana que aparece cuando el usuario desea abandonar la partida
    .opcion-usuario-salir
        padding: 2rem
        .salir-texto
            text-align: center
            width: 100%
            height: 50%
            p
                font-size: 1.8rem
        .salir-sino
            display: flex
            justify-content: center
            align-items: flex-end
            height: 50%
            .button
                height: 2.5rem
                width: 30%
                display: flex
                justify-content: center
                align-items: center
    // Ventana que aparece cuando el rival truca
    .opcion-rival-trucar
        padding: 2rem
        .trucar-nombre
            text-align: center
            h1
                font-size: 1.2rem
        .trucar-texto
            text-align: center
            width: 100%
            p
                font-size: 2.8rem
        .trucar-sino
            display: flex
            justify-content: center
            align-items: flex-end
            button
                height: 2.5rem
                width: 30%
    // Ventana que aparece cuando envida
    .opcion-envida
        padding: 1rem
        .envida-nombre
            text-align: center
            h1
                font-size: 1.2rem
        .envida-texto
            text-align: center
            width: 100%
            p
                font-size: 2.8rem
        .envida-sino
            display: flex
            justify-content: center
            align-items: flex-end
            button
                height: 2.5rem
                width: 30%
            .dos-botones
                height: 2.5rem
                width: 30%
                padding: 0
                display: flex
                .contador
                    width: 50%
                    height: 100%
    // Ventana cuando el rival ha ejecutado una acción
    .efectuar-accion
        width: 35%
        height: 5rem
        align-items: center
        justify-content: center
        margin: auto
        p
            font-size: 1.5rem
    .jugar_cartas
        z-index: -1
        width: 100%
        height: 100vh
        position: fixed
        .cartas-rival, .cartas-usuario
            height: 50vh
            display: flex
            justify-content: center
            padding: 1rem
        .cartas-rival
            align-items: flex-end
            .sobreposicion-rival,
                position: relative
                width: 7rem
                height: 5rem
                .posicion-izq
                    left: 0
                .posicion-centro
                    left: 0
                    right: 0
                    margin: 0 auto
                .posicion-drcha
                    right: 0
        .cartas-usuario
            align-items: flex-start
            .sobreposicion-usuario
                position: relative
                width: 7rem
                height: 5rem
                .posicion-izq
                    left: 0
                .posicion-centro
                    left: 0
                    right: 0
                    margin: 0 auto
                .posicion-drcha
                    right: 0
        img
            width: 3rem
            position: absolute
    // ESTRUCTURA DE LA PARTIDA DE JUEGO
    .jugar_estructura
        display: grid
        grid-template-columns: repeat(6, calc(100% / 6))
        grid-template-rows: repeat(3, calc(100% / 3))
        width: 100%
        height: 100vh
        // CARTAS DEL RIVAL
        .cartas-rival
            grid-column: 2/5
            display: flex
            align-items: flex-start
            .rival
                transform: rotate(180deg)
                padding-top: 1rem
                position: relative
                width: 230px
                height: 5.5rem
                margin: 0 auto
                overflow: hidden
                img
                    position: absolute
                    width: 5rem
                .carta-izq
                    transform: rotate(-10deg)
                    left: 2rem
                .carta-centro
                    left: 0
                    right: 0
                    margin: 0 auto
                .carta-drcha
                    transform: rotate(10deg)
                    right: 2rem
        // CHINAS DEL RIVAL
        .chinas-rival
            transform: rotate(180deg)
            p
                transform: rotate(180deg)
        // PERFIL DEL RIVAL
        .perfil
            grid-column: 6/7
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            img
                width: 90%
            p
                margin-bottom: 0
        // MARCADOR
        .marcador
            display: flex
            align-items: center
            justify-content: center
            table.table
                margin: 0
                width: 60%
                font-size: .6rem
                text-align: center
                thead, tbody
                    border: none
                    td, th
                        width: 50%
                        border: 1px solid $color-blanco
                        padding: 0
                        margin: 0
                    td
                        height: 1.7rem
                        img
                            padding-top: .4rem
                            height: 1.3rem
        // MAZO CUANDO REPARTE (EL RIVAL / EL USUARIO)
        .mazo
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .btn-mazo
                height: 100%
                img
                    width: 4rem
            p
                margin: 0
                margin-top: .3rem
        // CHINAS EN EL CENTRO
        .chinas
            grid-column: 3/5
            display: flex
            justify-content: flex-end
            align-items: center
            img
                width: 4rem
        // CHINAS DEL USUARIO
        .chinas-usuario
            .chinas_cuenta
                display: flex
                align-items: flex-end
                justify-content: flex-end
                height: 60%
                .imagen_bocadillo
                    position: relative
                    p
                        top: 0
                        bottom: 0
                        left: 0
                        right: 0
                        display: flex
                        align-items: center
                        justify-content: center
                        margin: 0
                        margin-bottom: .5rem
                        font-size: 1.4rem
                        position: absolute
                        color: $color-rojo
            .chinas_icono
                display: flex
                align-items: center
                justify-content: center
                height: 40%
                img
                    width: 2.2rem
        // CARTAS DEL USUARIO
        .cartas-usuario
            grid-column: 3/6
            display: flex
            align-items: flex-end
            .usuario
                padding-top: 1rem
                position: relative
                width: 270px
                height: 7.5rem
                margin: 0 auto
                overflow: hidden
                img
                    position: absolute
                    width: 6rem
                .carta-izq
                    transform: rotate(-10deg)
                    left: 2rem
                .carta-centro
                    left: 0
                    right: 0
                    margin: 0 auto
                .carta-drcha
                    transform: rotate(10deg)
                    right: 2rem
        // CUANDO ENVIDA / TRUCA EL USUARIO
        .envido-truco-usuario
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            button
                width: 100%
                height: 40%
